<form method="post">
    <label for="name">Product Name</label>
    <input type="text" name="name">

    <label for="price">Product Price</label>
    <input type="text" name="price">

    <input type="submit">
</form>