<main>
            <h1>Register Form</h1>
            {{#if fields}}
                    {{#each fields.username.msgs}}
                        <div>{{this}}</div>
                    {{/each}}

                    {{#each fields.password.msgs}}
                        <div>{{this}}</div>
                    {{/each}}

                    {{#each fields.repeatPassword.msgs}}
                        <div>{{this}}</div>
                    {{/each}}
                    
                
            {{/if}}
            <div class="form">
                <form action="#" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" {{#if err}}value={{err.value}} style='error-field'{{/if}}>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">

                    <label for="repeatPassword">Re-Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword">
                    <input type="submit" value="Register">
                </form>
            </div>
</main>