<section id="viewhotelDetails">
                <div class="profile"><img src="../static/img/profile.png" alt="default user">
                    <h3>User Info:</h3>
                    <div class="flex">
                        <p>Username: </p>
                        <p>{{userData.username}}</p>
                    </div>
                    <div class="flex">
                        <p>Email: </p>
                        <p>{{userData.email}}</p>
                    </div>
                    <div class="flex">
                        <p>Reservations: </p>
                        <p>
                            
                            <span>{{userData.userBookedHotelsAsStr}}</span>
                           
                        </p>
                    </div>
                </div>
        </section>